/* @import url("normalize.css"); */
/* @import url("bootstrap.min.css"); */

#selectedFiles img {
    max-width: 40px;
    max-height: 40px;
    /* float: left; */
    /* margin-bottom:10px; */
}

#drop-area {
    border: 2px dashed #ccc;
    border-radius: 20px;
    width: 480px;
    font-family: sans-serif;
    margin: 100px auto;
    padding: 20px;
  }
  #drop-area.highlight {
    border-color: purple;
  }
  p {
    margin-top: 0;
  }
  .my-form {
    margin-bottom: 10px;
  }
  #gallery {
    margin-top: 10px;
  }
  #gallery img {
    width: 150px;
    margin-bottom: 10px;
    margin-right: 10px;
    vertical-align: middle;
  }
  .button {
    display: inline-block;
    padding: 10px;
    background: #ccc;
    cursor: pointer;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  .button:hover {
    background: #ddd;
  }
  #fileElem {
    display: none;
  }
  #selectedFiles li {
    background-color: #f9f9f9;
    margin: 10px 0px 10px;
    list-style: none;
  }

  .li-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .btn-delete {
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
  }

  .progressBar-for-li {
    width: 200px;
    color: #53535328;
    display: flex;
    align-content: center;
    margin-bottom: 0;
  }


  .btn:focus, .upload-btn:focus{
    outline: 0 !important;
  }
  
  html,
  body {
    height: 100%;
    background-color: #4791D2;
  }
  
  body {
    text-align: center;
    font-family: 'Raleway', sans-serif;
  }
  
  .row {
    margin-top: 80px;
  }
  
  .upload-btn {
    color: #ffffff;
    background-color: #F89406;
    border: none;
  }

  .choose-btn {
    color: #ffffff;
    background-color: rgb(6, 180, 248);
    border: none;
    margin-right: 20px;
  }
  
  .upload-btn:hover,
  .upload-btn:focus,
  .upload-btn:active,
  .upload-btn.active {
    color: #ffffff;
    background-color: #FA8900;
    border: none;
  }
  
  h4 {
    padding-bottom: 30px;
    color: #B8BDC1;
  }
  
  /* .glyphicon {
    font-size: 16px;
    color: #9CA3A9;
  } */
  
  h2 {
    margin-top: 15px;
    color: #68757E;
  }
  
  .panel {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  
  #upload-input {
    display: none;
  }
  #choose-input {
    display: none;
  }
  
  @media (min-width: 768px) {
    .main-container {
      width: 100%;
    }
  }
  
  @media (min-width: 992px) {
    .container {
      width: 450px;
    }
  }
  