@import url("normalize.css");

#selectedFiles img {
    max-width: 40px;
    max-height: 40px;
    /* float: left; */
    /* margin-bottom:10px; */
}

#drop-area {
    border: 2px dashed #ccc;
    border-radius: 20px;
    width: 480px;
    font-family: sans-serif;
    margin: 100px auto;
    padding: 20px;
  }
  #drop-area.highlight {
    border-color: purple;
  }
  p {
    margin-top: 0;
  }
  .my-form {
    margin-bottom: 10px;
  }
  #gallery {
    margin-top: 10px;
  }
  #gallery img {
    width: 150px;
    margin-bottom: 10px;
    margin-right: 10px;
    vertical-align: middle;
  }
  .button {
    display: inline-block;
    padding: 10px;
    background: #ccc;
    cursor: pointer;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  .button:hover {
    background: #ddd;
  }
  #fileElem {
    display: none;
  }
  #selectedFiles li {
    background-color: #f9f9f9;
    margin: 10px 0px 10px;
    list-style: none;
  }

  .li-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .btn-delete {
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
  }

  .progressBar-for-li {
    width: 200px;
    color: #53535328;
    display: flex;
    align-content: center;
    margin-bottom: 0;
  }